/* Global Variables */
:root {
    --main-color: #19c8fa;
    --tr-color: rgb(15 116 143 / 70%) ;
}


/* Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: hsl(0deg 0% 5.88%);
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global */



/* Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}

header img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .toggle {
    color: #a2a2a2;
    font-size: 22px;
}

@media (min-width: 768px) {
    header nav .toggle {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }

    header nav ul li a {
        padding: 15px !important;
    }
}

header nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #a2a2a2;
    transition: .3s;
    padding: 30px 10px;
    margin-right: 30px;
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}


header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 20px;
    border-left: 1px solid #a2a2a2;
}

header nav .form i {
    color: #a2a2a2;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


/* Landing */
.landing {
    min-height: 100vh;
    background-image: url(../img/landing3.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    display: flex;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--tr-color);
    color: white;
    width: 40%;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    
    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1.6;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 1.6;
}

.landing .change-back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #a2a2a2;
    cursor: pointer;
}

@media (max-width: 767px) {
    .landing .change-back {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 10px;
}
.landing .bullets li.active {
    background-color: var(--main-color);
}